@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <div class="container container-menu">

        <h1 class="display-4">Seja bem-vindo a OctoTi System!</h1>        

    </div>

    <div class="container container-menu mt-3">
        <h2>Ações</h2>
        <a class="btn btn-primary btn-block" role="button" asp-controller="Cliente" asp-action="Index">Listagem de Clientes</a>
    </div>
</div>
