@model HomeIndexModel
@{
    ViewData["Title"] = "Novo Telefone";
}

<div class="container container-menu text-center">
     <h1 class="display-4">Novo Telefone</h1>
</div>

<div class="container container-menu mt-1">

    <form method="post" asp-action="NovoTelefone" onsubmit="return validarTelefone()" asp-controller="Cliente" class="container">


        <input type="hidden" asp-for="Cliente.Id" />

        <input type="hidden" asp-for="Cliente.Nome" />
        <input type="hidden" asp-for="Cliente.Email" />
        <input type="hidden" asp-for="Cliente.TipoCliente" />
        <input type="hidden" asp-for="Cliente.CPF_CNPJ" />
        <input type="hidden" asp-for="Cliente.RG_IE" />
        <input type="hidden" asp-for="Cliente.DataNascimento_DataFundacao" />
        <input type="hidden" asp-for="Cliente.DataCadastro" />
        <input type="hidden" asp-for="Cliente.QtdTelefone" />
        <input type="hidden" asp-for="Cliente.QtdEndereco" />
   
      <div class="row">
          <div class="form-group col-md">
              <label>Tipo Telefone:</label>
              <select   asp-for="Telefone.TipoTelefone" value="1" id="sltTelefone" class="form-control">
                  <option value="1">Celular</option>
                  <option value="2">Residencial</option>
                  <option value="3">Comercial</option>
              </select>
          </div>

  
          <div id="divNumeroTelefone" class="form-group col-md">
              <label id="lblNumeroTelefone">Celular:</label>
              <input asp-for="Telefone.NumeroTelefone" value="" type="text"  id="txtNumeroTelefone" placeholder="00000-0000"  onpaste="return false" maxlength="10"  class="form-control" />
          </div>

          <div class="form-group col-md">
              <label>DDD:</label>
              <input asp-for="Telefone.DDD" value="" type="text" maxlength="3" id="txtDDD" placeholder="Ex: 017" class="form-control" />
          </div>       

      </div>

      <!-- -->                             

      <div class=row>                
              <div class="form-group col-md">
                  <button type="submit" class="btn btn-primary btn-block">Adicionar</button>    
              </div>
               <div class="form-group col-md">
                   <a role="button" class="btn btn-secondary btn-block" asp-action="Index" asp-controller="Cliente">Voltar</a>
              </div>
      </div>

    </form>

</div>

<script>
 
window.onload = updatePage();

function updatePage() {

    var sltTelefone = document.querySelector('#sltTelefone');
    sltTelefone.value = 1;

}


</script>