@model  HomeIndexModel
@{
    ViewData["Title"] = "Novo Endereço";
}


<div class="container container-menu text-center">
     <h1 class="display-4">Novo Endereço</h1>
</div>

<div data-offset="0" class="container container-menu mt-1">
    <form method="post" asp-action="NovoEndereco" onsubmit="return validarEndereco()" asp-controller="Cliente" class="container">
      

      <div class="row">

        <input type="hidden" asp-for="Cliente.Id" />
          
        <input type="hidden" asp-for="Cliente.Nome" />
        <input type="hidden" asp-for="Cliente.Email" />
        <input type="hidden" asp-for="Cliente.TipoCliente" />
        <input type="hidden" asp-for="Cliente.CPF_CNPJ" />
        <input type="hidden" asp-for="Cliente.RG_IE" />
        <input type="hidden" asp-for="Cliente.DataNascimento_DataFundacao" />
        <input type="hidden" asp-for="Cliente.DataCadastro" />
        <input type="hidden" asp-for="Cliente.QtdTelefone" />
        <input type="hidden" asp-for="Cliente.QtdEndereco" />


        <div class="form-group col-md">
            <label>Tipo Endereço:</label>
            <select asp-for="Endereco.TipoEndereco" value="1"  id="sltTipoEndereco" class="form-control">
                <option value="1">Cobrança</option>
                <option value="2">Comercial</option>
                <option value="3">Correspondência</option>
                <option value="4">Entrega</option>
                <option value="5">Residencial</option>
            </select>
        </div>
        <div class="form-group col-md">
            <label>Logradouro:</label>
            <input class="form-control" asp-for="Endereco.Logradouro" value="" maxlength="45" type="text" id="txtLogradouro"  placeholder="Ex: Rua das Ameixas"  />
        </div>
        <div class="form-group col-md">
            <label>Número:</label>
               <input class="form-control" asp-for="Endereco.Numero"  value=""  min="0"  step="1.0" type="number" id="txtNumero"  placeholder="Ex: 2710" />
        </div>

      </div>

      <div class="row">

          <div class="form-group col-md">
             <label for="sltUF">UF:</label>
            <select asp-for="Endereco.UF" value="AC" class="form-control"  id="sltUF">
                <option value="AC">AC</option>
                <option value="AL">AL</option>
                <option value="AP">AP</option>
                <option value="AM">AM</option>
                <option value="BA">BA</option>
                <option value="CE">CE</option>
                <option value="DF">DF</option>
                <option value="ES">ES</option>
                <option value="GO">GO</option>
                <option value="MA">MA</option>
                <option value="MT">MT</option>
                <option value="MS">MS</option>
                <option value="MG">MG</option>
                <option value="PA">PA</option>
                <option value="PB">PB</option>
                <option value="PR">PR</option>
                <option value="PE">PE</option>
                <option value="PI">PI</option>
                <option value="RJ">RJ</option>
                <option value="RN">RN</option>
                <option value="RS">RS</option>
                <option value="RO">RO</option>
                <option value="RR">RR</option>
                <option value="SP">SP</option>
                <option value="SC">SC</option>
                <option value="SE">SE</option>
                <option value="TO">TO</option>
            </select>
          </div> 

          <div class="form-group col-md">
              <label>Cidade: </label>
              <input class="form-control" asp-for="Endereco.Cidade" value="" id="txtCidade" type="text" maxlength="45" placeholder="Ex: São Paulo" />
          </div> 

          <div class="form-group col-md">
                 <label>CEP: </label>
              <input class="form-control" asp-for="Endereco.CEP" value="" id="txtCEP" type="text" maxlength="9" placeholder="Ex: 15091-250" />
          </div> 
      </div>
    
      <div class="row">
          <div class="form-group col-md">
              <label>Complemento:</label>
              <input type="text" id="txtComplemento" asp-for="Endereco.Complemento" value="" maxlength="45"  class="form-control" placeholder="Ex: Portão Preto." />
          </div>
           <div class="form-group col-md">
               <label>Bairro:</label>
               <input type="text" id="txtBairro" asp-for="Endereco.Bairro" value="" maxlength="45" class="form-control" placeholder="Ex: Jd. das Rosas"/>
          </div>
      </div>                     

      <div class=row>                
              <div class="form-group col-md">
                  <button type="submit" class="btn btn-primary btn-block">Adicionar</button>    
              </div>
               <div class="form-group col-md">
                   <a role="button" class="btn btn-secondary btn-block" asp-action="Index" asp-controller="Cliente">Voltar</a>
              </div>
      </div>

    </form>

</div>

<script>
 
window.onload = updatePage();

function updatePage() {

    var sltEndereco = document.querySelector('#sltTipoEndereco');
    sltEndereco.value = 1;

    var sltUF = document.querySelector('#sltUF');   
    sltUF.value = "AC";

}


</script>